/* ---------- Reset ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #222;
    line-height: 1.6;
}

/* ---------- Container System ---------- */

.container {
    width: min(1200px, 92%);
    margin-inline: auto;
}

/* ---------- Topbar ---------- */

.topbar {
    background: #0a0a0a;
    color: #fff;
    font-size: 13px;
}

.topbar-inner {
    padding: 8px 0;
}

.contact {
    display: flex;
    gap: 30px;
}

/* ---------- Navbar ---------- */

.navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo img {
    width: 65px;
}

.nav-links {
    display: flex;
    gap: 32px;
    font-size: 14px;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4b400;
}

/* ---------- Buttons ---------- */

.btn {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-donate {
    background: #f4b400;
    color: white;
}

.btn-donate:hover {
    background: #d99c00;
}

.btn-light {
    background: white;
    color: black;
}

.btn-light:hover {
    background: #f3f3f3;
}

/* ---------- Hero Section ---------- */

.hero {
    min-height: 85vh;

    display: flex;
    align-items: center;

    background:
    linear-gradient(
        90deg,
        rgba(0, 115, 150, 0.75),
        rgba(215, 0, 85, 0.7)
    ),
    url("hoodies.jfif") center/cover no-repeat;

    color: white;
}

.hero-inner {
    max-width: 650px;
    padding: 80px 0;
}

/* ---------- Typography ---------- */

.hero-tag {
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.9;
}

.hero-title {
    font-size: clamp(38px, 5vw, 58px);
    font-weight: 800;
    line-height: 1.15;
    margin: 18px 0 24px;
}

.hero-text {
    font-size: 16px;
    opacity: 0.95;
    margin-bottom: 35px;
}

/* ---------- Hero Buttons ---------- */

.hero-actions {
    display: flex;
    gap: 16px;
}

/* ---------- Responsive ---------- */

@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .hero-inner {
        text-align: center;
        margin: auto;
    }

    .hero-actions {
        justify-content: center;
        flex-wrap: wrap;
    }

}
