.container{
   background-color:red;
   padding:50px;
}
.contain{
   background-color:black;
   padding:20px;
   justify-items: center;
}
.display{
    display: flex;
}
.box{
   width:100px;
   height:100px;
   background-color:yellow;
   margin:10px;
}
.box1{
   width:100px;
   height:100px;
   background-color:teal;
   margin:10px;
}
.box2{
   width:100px;
   height:100px;
   background-color:blue;
   margin:10px;
}
.box3{
   width:100px;
   height:100px;
   background-color:green;
   margin:10px;
}