*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #008b8b;
    margin: 20rem;
    margin-left: 30rem;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    background-color: aliceblue;
    text-align: center;
}
th, td{
    padding: 10px;
    font-size: 20px;
}
th{
    background-color: green;
    color: white;
}
tbody:nth-child(odd){
    background-color: #e9c4c4;
}
tbody:nth-child(4){
    border-bottom: 3px solid #852626;
}
tr{
    background-color: aqua;
}