h2{
    background-color: #0000ff;
}
div{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
table, tr, th, td{
    border: 1px solid palevioletred;
    border-collapse: collapse;
}